<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="logo">Go-Letters</div>
    <p class="about">An online mailing portal made with Go to mail on the go!<br>We don't save any data.</p>
    <form action="/mail" method="post">

        <input type="name" name="sender-name" id="sender-name" placeholder="Sender's Name">
        <input type="email" name="sender-email" id="sender-email" placeholder="Sender's Email">

        <input type="name" name="receiver-name" id="receiver-name" placeholder="Receiver's Name">
        <input type="email" name="receiver-email" id="receiver-email" placeholder="Receiver's Email">

        <input type="text" name="password" id="password" placeholder="GMail Application Key">
        <a class="info" href="https://myaccount.google.com/security">Where to create?</a>

        <input type="text" name="title" id="title" placeholder="Subject for the email">
        <input type="text" name="body" id="body" placeholder="HTML body">
        <button type="submit" class="btn ">Send</button>
    </form>
</body>
</html>
