* {
    margin: 0;
    padding: 0;
}

/*
#fbfaf9
#6c39ed
#17a7fa
*/

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', cursive;
    font-size: 24px;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.logo {
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    font-size: 36px;
    text-transform: uppercase;
}

.info {
    color: #7741ffde;
    text-align: center;
    max-width: 500px;
    padding: 20px;
    margin: 30px auto;
}

a, a:hover, a:visited, a:active, button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    background-color: #7741ffde !important;
}

a:hover, button:hover {
    color: #fff;
    background-color: #6034cf !important;
}

form {
    margin-top: 80px;
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
}

form input, .info, button {
    margin: 20px;
    height: 40px;
    width: 175px;
    padding: 2px 10px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 7px;
    background: #ffffff;
    box-shadow:  6px 6px 13px #d4d4d4, 
                -6px -6px 13px #ffffff;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

button {
  margin: 20px 30px;
}

form input {
    box-shadow:  inset 4px 4px 8px #d4d4d4, 
    inset -11px -11px 21px #f8f8f8;
}
